/* BASE */
html,body{
	height: 100%;
}
body{
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.4em;
	margin: 0;
	background-color: #999;
}
i{
	font-style: italic;
	color: #555;
}
b{
	font-weight: bold;
}
.content{
	width:85%;
	float:right;
}
nav{
	position: fixed;
	top:0;
	left:0;
	width:15%;
	height:100%;
	background-color: #719028;
	color:#FFF;
	font-size:1.2em;
	background-image: url(../images/images/steel_logo.png);
	background-repeat:no-repeat;
	background-size: 100%;
	background-position: bottom;
	
	
	
}
nav li a,
nav li a:visited,
nav li a:hover,
nav li a:active{
	color: #FFF;
	font-weight: bold;
	display: block;
	padding:8px 15px;
	margin-bottom: 2px;
	text-decoration: none;
}
nav li a:hover,
nav li a:active{
	background-color:#EEE;
	color:#333;
	border-left: 5px solid #777;	
	box-shadow:-2px 2px 3px #333;
 
}
h1{
	background-color: #b8c894;
	color: #333;
	margin: -2em -2em 1em -2em;
}
h1,
th{
	font-weight:bold;
	text-align: 
}
/* Layout */
/* Modules */
h1,
.add-new,
table th,
table td{
	padding:10px;
	margin: 0;
}
.add-new{
	background: #719028 url(../images/images/plus.png) no-repeat 10% 0%;
	color:white;
	margin-bottom:20px;
}
.add-new > a {
	color: #fff;	
	background: url(../images/datatable/add.png) no-repeat;
	display: block;
	line-height: 32px;
	padding-left: 40px;
}
div.page{
	padding:0 10px;
}
table td.actions{
	text-align:center;
}
a.edit,
a.delete, 
a.report, 
a.reset-password {
	width:20px;
	height:20px;
	display:inline-block;
	background-repeat: no-repeat;
}
a.edit{
	background-image: url('../images/datatable/edit.png');
}
a.delete{
	background-image: url('../images/datatable/delete.png');
}
a.report{
	background-image: url('../images/datatable/report.png');
}
a.reset-password{
	background-image: url('../images/datatable/password_reset.png');
	background-position: 0% 50%;
}
/* -- Table Styles */
table.display {
	margin-bottom: 2em;
}
/* -- Status Messages */
.messages {
	list-style-type: none;
}
.messages li {
	margin: 0.5em 0;
	text-align: center;
	font-size: 130%;
}
.messages li.success {
	background: #FFF;
	border-radius: 10px;
	padding: 5px 15px;
	color: #555;
	width: 50%;
	margin: 0 auto;
}
/* -- Modal */
.modal {
	display: none;
}
.modal.active {
	display: block;
}
.modal .fill {
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.modal .body {
	background: #fff;
	position: absolute;
	width: 600px;
	margin-left: -300px;
	left: 50%;
	top: 10%;
	border-radius: 20px;
}
.modal .body .main {
	padding: 20px;
	padding-bottom: 0;
}
.modal .body .ui {
	position: relative;
}
.modal .body .ui .close {
	border-radius: 25px;
	padding: 5px;
	color: #fff;
	background: #000;
	border: 4px solid #fff;
	display: block;
	width: 19px;
	text-align: center;
	line-height: 16px;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 140%;
	position: absolute;
	right: -5px;
	top: -10px;
}
.modal h1 {
	background: transparent;
	margin: 0 0 10px 0;
	color: #444;
	padding: 0;
	font-size: 24px;
}
.modal .pw-reset p {
	margin-bottom: 20px;
}
.modal .pw-reset input {
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	border: 1px solid #555;
}
.modal .pw-reset #copy-box {
	position: relative;
	display: inline-block;
}
.modal .pw-reset #copy-box div {
	width: auto !important;
	height: auto !important;
	right: 0 !important;
	bottom: 0 !important;
}
.modal .pw-reset #copy-box div embed {
	width: 90px !important;
	height: 29px !important;
	display: block !important;
}
.modal .pw-reset #copy-button {
	display: block;
	width: 80px;
	text-align: center;
	padding: 5px;
}
.modal .actions {
	background: #f0f0f0;	
	padding: 10px 20px;
	margin-top: 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 1px solid #d5d5d5;
}
.modal .actions .button {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 10px;
	border-radius: 5px;
	font-size: 15px;
	margin-right: 10px;
	background: #ccc;
	padding: 5px 15px;
}
/* State */
a:hover{
	text-decoration: underline;
}

